prediction_result.json
.vscode/settings.json
__pycache__/make_prediction.cpython-313.pyc
datasets/books_with_metrics.csv
datasets/books.csv
datasets/checkouts.csv
datasets/new_books_for_prediction.csv
datasets/new_books_with_predictions.csv
datasets/students.csv
datasets/X_test_preprocessed.csv
datasets/X_train_preprocessed.csv
datasets/X_val_preprocessed.csv
datasets/y_test.csv
datasets/y_train.csv
datasets/y_val.csv
datasets/
models/actual_vs_predicted.png
models/encoder.pkl
models/residual_distribution.png
models/residuals.png
models/ridge_regression_model.pkl
models/scaler.pkl
notebooks/data_visualization.ipynb
